{#{"time": "2021-03-01 17:43:24,023", "name": "roboLog", "level": "INFO", "message": "Info from Arduino: Pump start"},
{% for key in log.records  if  key.level == "INFO" %}
#}
<table width="100%">
  {% for key in log.records | reverse %}
    {% if loop.index <= 50 %}
      <tr {% if loop.index % 2 == 0 %} style="background: gainsboro;"{% endif %}>
        <td>
      {{key.time}}
        </td>
        <td>
            {{key.level}}
        </td>
        <td>
            {{key.message}}
        </td>
        <td>
        </td>
      </tr>
      {% endif %}
  {% endfor %}</table>
