{% extends "base-standard.j2.html" %}

{#{% block pagestyles %}
  {% assets "status_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}
#}

{% block header_page %}
<style>
  .card-columns {
    column-count: 2;
  }
</style>
{% endblock %}

{% block content %}
<script type="text/javascript">
  programs = {{programs | tojson}}
  INFOTAG = {{INFOTAG | tojson}}
  TELEMETRYTAG = {{TELEMETRYTAG | tojson}}
  timeStarted = "{{timestarted}}"
</script>
{% include "telemetry-module.j2.html" %}
<div class="container shadow-lg p-3 mb-5 border rounded">
   <div class="row p-1">
     <div class="col-4 rounded">Program
      </div>
      <div class="col-4"> <select class="form-select" aria-label="Select program" id="PRGsel" onchange="loadProgram(this.value)">
      {% for p in programs |sort(attribute='progName')%}
        <option value="{{p.progID}}" {% if p.progID == currentProgram.progID %} selected{% endif %}>{{p.progName}}</option>
       {% endfor %}
       </select></div>
      <div class="col-4"><button id="changeProgr" type="button" class="btn btn-outline-primary">change</button></div>
   </div>
   <div class="row p-1">
      <div class="col-4">Pump</div>
      <div class="col-4">
        <label for="pumpPulse">duration</label>
        <input type="number" id="pumpPulse" name="quantity" default="1" value="10" min="1" max="200" size="2"> </div>
      <div class="col-4"><button id="pump" type="button" class="btn btn-outline-primary" onclick="pumpControl(this)"><i id="pump" class="fas fa-sync-alt"></i></button>
      </div>
   </div>
   <div class="row p-1 border-top">
      <div class="col-12"><ul id="progLabel" class="list-unstyled card-columns"></ul>
    </div>
   <div class="row p-1">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-8"></div>
   </div>
</div>
{% include "control-scripts.html.j2" %}
{% endblock %}
