
{% extends "layout.jinja2" %}

{#{% block pagestyles %}
  {% assets "status_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}
#}

{% block content %}
<script type="text/javascript">
        programs = {{programs|tojson}}
        INFOTAG = {{INFOTAG|tojson}}
        TELEMETRYTAG = {{TELEMETRYTAG|tojson}}
        timeStarted = "{{timestarted}}"
</script>

{% include "telemetryModule.html.j2" %}<br>

<table width="100%">
  <tr>
  <td><label for="PRGSel">Program</label>
  <select style="color: black; width: 50px !important;" id="PRGsel" onchange="loadProgram(this.value)">
      {% for p in programs |sort(attribute='progName')%}
      <option value="{{p.progID}}"{% if p.progID == currentProgram.progID %} selected{% endif %}>{{p.progName}}</option>
    {% endfor %}
  </select><br>
  <button id="changeProgr" class="button button3" style="float:right">change</button>
  </td>
  <td id="progLabel">
    </td>
  </tr>
  <tr>
  <td><label for="pump">Pump</label></td>
  <td>

         <button id="pump" class="button button3" onchange="pumpControl(this)"><i id="pump" class="fas fa-sync-alt"></i></button>
      

      <label for="pumpPulse">duration</label>
      <input type="number" id="pumpPulse" name="quantity" default="1" value="10" min="1" max="200" size="2">
    </td>
  </tr>
  <tr>
    <td>
      <label for="LEDBrightness">Color</label>
    </td>
    <td><input type="range" min="0" max="255" value="50" id="LEDBrightness" onchange="setBrightness(this.value)">
      <label for="LEDColor"></label>
      <input type="color" id="LEDColor" name="LEDColor" onchange="setColor(this.value)">
    </td>
  </tr>
  <tr>
    <td>
      <label for="LEDShowDur">Lightshow</label>
    </td>
    <td><i id="d" class="far fa-clock"></i><input style ="width: 60%;" type="range" min="1" max="10" value="2" id="LEDShowDur"><br>

      <i id="f" class="fas fa-wave-square"></i><input type="range" style ="width: 30%;"min="0.1" max="1" step="0.1" value="0.5" id="LEDShowFreq">
       <button id="showTime" class="button button3">show!</button>
    </td>
  </tr>
</table>


{% include "scriptsControl.html.j2" %}

{% endblock %}
