table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.navigation {
  display: block;
  justify-content: center;
  margin-right: 0px;
  padding: 10;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #57657e;
  font-family: CamphorPro-Medium, HelveticaNeue, sans-serif;
  font-size: 1em;
  letter-spacing: .5px;
  transition: all .2s ease-out;
}

.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  width: 80%;
  padding: 0em 0em 0em 0em;
  margin: 0;
  border: 0px;
  border-radius: 0px;
  background: #fff;
  color: inherit;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.showOnHover {
  display: none;
}

/*
.myDIV:hover+.hide {
  display: block;
  color: red;
} */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.8);
}

.button1 {
  border-radius: 2px;
}

.button2 {
  border-radius: 4px;
}

.button3 {
  border-radius: 8px;
}

.button4 {
  border-radius: 12px;
}

.button5 {
  border-radius: 50%;
}