<table width="100%">
{% for key, value in maintSchedule.items() recursive %}
    <tr>
      <td>
    {{key}}
      </td>
      <td>
      {{value}}
      </td>
      <td id="id-{{key}}">
      </td>
      <td>
        <i class="material-icons" onclick="resetTime('{{key}}')">alarm</i>
      </td>
    </tr>
{% endfor %}
</table>
{% include "scriptsMaintenance.html.j2" %}
