{% block scr %}

<script type="text/javascript">

</script>
<script>

//Calls functions to load defaults and info.
document.addEventListener("DOMContentLoaded", function() {


});

window.onload = function() {
  // Month Day, Year Hour:Minute:Second, id-of-element-container
  //timeStarted = "2021-02-13 21:00:43.405472"

};



{% endblock scr %}
