<table width="100%">
{% for key, value in currentProgram.items() recursive %}
    <tr>
      <td>
    {{key}}
      </td>
      <td>
      {{value}}
      </td>
    </tr>
{% endfor %}
</table>
{# {% include "scriptsCurrentProgram.jinja2" %} #}
