<!DOCTYPE html>
<html lang="en">

<head>
  {% include "headerBase.jinja2" %}
</head>

<body class="{{ template }}">
  {% include "navigation.jinja2" %}

  {% block content %}{% endblock %}

  {% include "blueprintinfo.jinja2" %}

  {% block scr %}{% endblock %}

</body>

</html>
