<div class="navigation">
    <a href="{{ url_for('control_bp.control') }}">control</a>
    <a href="{{ url_for('telemetry_bp.telemetry') }}">telemetry</a>
    <a href="{{ url_for('status_bp.status') }}">status</a>
</div>
