{% include "headerStatus.jinja2" %}

{% extends "layout.jinja2" %}
{#{% include "headerStatus.jinja2" %}#}

{% block content %}
<script type="text/javascript">
        INFOTAG = "{{INFOTAG}}"
        TELEMETRYTAG = "{{TELEMETRYTAG}}"
        timeStarted = "{{timestarted}}"
</script>

{% include "telemetryModule.html.j2" %}
<br>
<div class="status">
{% for towers in status.towers %}
 <table id={{towers.name}}>
  <caption>{{towers.name}}</caption>
   {% for level in towers.levels  | reverse %}
    <tr>
      {% for pod in level.pods %}

      <td><span style="podIDStatus" id="podID">{{pod.podID}}</span><br>
        <br>
        <div class="select">
          <select style="color: black;" id="s{{pod.podID}}" onchange="postPlant(this)">
            {% for plant in plantsDB.plants |sort(attribute='name')%}
              <option value="{{plant.plantID}}"{% if plant.plantID == pod.plantID %} selected{% endif %}>{{plant.name}}</option>
            {% endfor %}
          </select>
        </div>
        <br>
        <input type="date" style="color: gray;border-style: none;" value="{{pod.plantedDate|formatDate}}" id="d{{pod.podID}}" name="plantedDateStatus-{{pod.podID}}" onchange="changePlantedDate(this)"  placeholder="planted date"><span style="plantedDateStatus;  float:right; {% if pod.harvestTime | int >= 0 %}background-color:rgba(0,255,0,0.2); color:DodgerBlue;{% endif %}">&emsp;{{pod.harvestTime}}</span>
      </td>
      {% endfor %}
    </tr>
   {% endfor %}
 </table>
 {% endfor %}
</div>

{% include "scriptsStatus.jinja2" %}

{% endblock %}
