{% block scr %}

<script>

// https://stackoverflow.com/questions/610336/retrieving-the-text-of-the-selected-option-in-select-element
  function postPlant(cmd) {
    const URL = `${window.origin}/api/plant`
    // post body data
    const command = {
      plantName: cmd.options[cmd.selectedIndex].text,
      plantID: cmd.value,
      podID: cmd.id.replace('s',''),
      plantedDate: (new Date().toJSON())
    };

    // request options
    const options = {
      method: 'POST',
      body: JSON.stringify(command),
      headers: {
        'Content-Type': 'application/json'
      }
    }
    // console.log(options)
    // send POST request
    fetch(URL, options)
      .then(res => res.json())
    //.then(res => console.log(res));

  }


  function postCommand(cmd, location) {
    const URL = `${window.origin}/api/` + location
    // post body data
    const command = {
      command: cmd
    };

    // request options
    const options = {
      method: 'POST',
      body: JSON.stringify(command),
      headers: {
        'Content-Type': 'application/json'
      }
    }
    // send POST request
    fetch(URL, options)
      .then(res => res.json())
  }

function changePlantedDate(datePicker)
{
const command = {
  podID: datePicker.id.replace('d',''),
  plantedDate: (new Date(datePicker.value).toJSON())
};
  postCommand(command, 'newPlantedDate')
}



</script>


{% endblock scr %}
