{% extends "base-standard.j2.html" %}


{% block header_page %}
<script type="text/javascript">
  INFOTAG = "{{INFOTAG}}"
  TELEMETRYTAG = "{{TELEMETRYTAG}}"
  timeStarted = "{{timestarted}}"
</script>
{% endblock %}

{% block content %}
{% include "telemetry-module.j2.html" %}

<!-- shadow-lg p-3 mb-5 border rounded  -->
<div class="container">
  <div class="row p-1">
    {% for towers in status.towers %}
    <div id={{towers.name}} class="shadow-lg p-1 mb-3 border rounded col-sm">
      <h5 class="d-flex justify-content-center">{{towers.name}}</h5>
      {% for level in towers.levels  | reverse %}
      <div id={{towers.ID}}-{{level.level}} class="row g-4 d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          {% for pod in level.pods %}
          <div class="col">
            <div class="card text-dark bg-light mb-2 g-3" style="max-width: 10rem;">
              <div class="card-header">{{pod.podID}}
                <span style="plantedDateStatus;  float:right; {% if pod.harvestTime | int >= 0 %}background-color:rgba(0,255,0,0.2); color:DodgerBlue;{% endif %}">&emsp;{% if pod.plantID | int != 0 %}{{pod.harvestTime}}{% endif %}</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <select id="s{{pod.podID}}" onchange="postPlant(this)" class="form-select form-select-sm" aria-label=".form-select-sm example" style="font-size: 12pt; max-width:80%;">
                    {% for plant in plantsDB.plants |sort(attribute='name')%}
                    <option value="{{plant.plantID}}" {% if plant.plantID == pod.plantID %} selected{% endif %}>{{plant.name}}</option>
                    {% endfor %}
                  </select>
                </h5>
                <p class="card-text"></p>
                <input class="card-text" type="date" style="color: gray;border-style: none;" value="{{pod.plantedDate|formatDate}}" id="d{{pod.podID}}" name="plantedDateStatus-{{pod.podID}}" onchange="changePlantedDate(this)"
                  placeholder="planted date">
                <p class="card-text"></p>
                <!-- <span style="plantedDateStatus;  float:right; {% if pod.harvestTime | int >= 0 %}background-color:rgba(0,255,0,0.2); color:DodgerBlue;{% endif %}">
                  {% if pod.plantID | int != 0 %}{{pod.harvestTime}}{% else %}<br>{% endif %}</span>
                {% for plant in plantsDB.plants %}
                <span class="card-text" style="podIDStatus" id="podID">{% if plant.plantID == pod.plantID %}
                  {% for i in range(plant.water|int) %}
                  <i style="float:left; color: DodgerBlue;" class="fas fa-tint"></i>
                  {% endfor %}</span>
                {% endif %}
                {% endfor %} -->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

{% include "status-scripts.j2.html" %}
{% endblock %}