
{% include "telemetryHeader.jinja2" %}

{% extends "layout.jinja2" %}

{#{% block pagestyles %}
  {% assets "status_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}
#}

{% block content %}

{% include "telemetryModule.jinja2" %}

{% endblock %}
