
{% block content %}

<table>
  <tr>
    <td>
      <i id="LED" class="material-icons" style="background: rgba(0,0, 0,0)">lightbulb-outline</i>
    </td>
    <td id="RGBColor"></td>
    <td><i id="pump" class="material-icons">swap_vert</i></td>
  </tr>
  <tr>
    <td id="infoBox" colspan="3"></td>
  </tr>
</table>
{% endblock %}
{% include "scriptsTelemetry.jinja2" %}
