<div class="container shadow-lg p-3 mb-5 border rounded">
  <div class="row p-1">
    <div id="lightGrowth" alt="lightGrowth" class="col-2 border rounded" style="background: rgba(125,125,125,0); text-align:center;"><i id="lightIconGrowth" style="color: rgb(80,80,80)" class="fas fa-lightbulb"></i></div>
    <div id="lightBloom" alt="lightBloom" class="col-2 border rounded" style="background: rgba(125,125,125,0); text-align:center;"><i id="lightIconBloom" style="color: rgb(80,80,80)" class="fas fa-lightbulb"></i></div>
    <div class="col-6"></div>
    <div class="col-2"><i id="pump" class="fas fa-sync-alt"></i></div>
  </div>
  <div class="row p-1">
    <div id="progID" class="col-2"></div>
    <div id="progName" class="col-2"></div>
    <div id="progDescription" class="col-8"></div>
  </div>
  <div class="row p-1">
    <div id="progDescription" class="col-12"></div>
  </div>
  <div class="row p-2 border-bottom">
    <div id="infoBox" class="col"></div>
    <!-- <div id="telemetry" class="col-8"></div> -->
  </div>
  <div class="row p-1">
    <div id="countup1" class="col-9">
      <span class="timeel days">00</span>
      <span class="timeel timeRefDays"><sup>d</sup></span>
      <span class="timeel hours">00</span>
      <span class="timeel timeRefHours"><sup>h</sup></span>
      <span class="timeel minutes">00</span>
      <span class="timeel timeRefMinutes"><sup>m</sup></span>
      <span class="timeel seconds">00</span>
      <span class="timeel timeRefSeconds"><sup>s</sup></span>
    </div>
    <div id="timer" class="col-3"></div>
  </div>
  <div class="row p-2 border-top">
    <div id="telemetryRaw" class="col"></div>
    <!-- <div id="telemetry" class="col-8"></div> -->
  </div>
</div>
{% include "telemetry-scripts.j2.html" %}