{% extends "headerBase.jinja2" %}
{% block header %}
<script type="text/javascript">
        INFOTAG = "{{INFOTAG}}"
        TELEMETRYTAG = "{{TELEMETRYTAG}}"
        timeStarted = "{{timeStarted}}"
</script>{% endblock %}
