<table width="100%">
  <tr>
    <td id="LEDContainer" style="background: rgba(0,0, 0,0); text-align:center;">
      <i id="LED" style="color: rgb(125,125,125)" class="fas fa-lightbulb"></i>
    </td>
    <td id="RGBColor"></td>
    <td style="text-align:center;"><i id="pump" class="fas fa-sync-alt"></i></td>
    <td class="telemetryInfo"><strong>Telemetry</strong></td>
  </tr>
  <tr>
    <td id="infoBox" colspan="3"></td>
    <td class="telemetryInfo" id="telemetry"></td>
  </tr>
  <tr>
    <td id="progID"></td>
    <td id="progName" colspan="4"></td>
  </tr>
  <tr>
    <td id="progDescription" colspan="4"></td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="countup" id="countup1">
        <span class="timeel days">00</span>
        <span class="timeel timeRefDays">days</span>
        <span class="timeel hours">00</span>
        <span class="timeel timeRefHours">hours</span>
        <span class="timeel minutes">00</span>
        <span class="timeel timeRefMinutes">minutes</span>
        <span class="timeel seconds">00</span>
        <span class="timeel timeRefSeconds">seconds</span>
      </div>
    </td>
    <td id="timer">
    </td>
  </tr>
</table>

{% include "scriptsTelemetry.html.j2" %}
