{% block scr %}
<script type="text/javascript">
  INFOTAG = "{{INFOTAG}}"
  TELEMETRYTAG = "{{TELEMETRYTAG}}"
  timeStarted = "{{timeStarted}}"
</script>
<script>
  //Calls functions to load defaults and info.
  document.addEventListener("DOMContentLoaded", function() {


  });

  window.onload = function() {
    updateProgram();
  };
  var myT = setInterval(myTimer, 1000);

  function myTimer() {
    var d = new Date();
    document.getElementById("timer").innerHTML = d.toLocaleTimeString();
  }

  var socket = io();
  var telemetry = {}

  function toggle(x) {
    if (document.getElementById(x).style.display == 'none') {
      document.getElementById(x).style.display = '';
    } else {
      document.getElementById(x).style.display = 'none';
    }
  }

  function hexTorgb(hex) {
    return ['0x' + hex[1] + hex[2] | 0, '0x' + hex[3] + hex[4] | 0, '0x' + hex[5] + hex[6] | 0];
  }


  function R_G_BtoHEX(red, green, blue) {
    red = red < 0 ? 0 : red > 255 ? 255 : red;
    green = green < 0 ? 0 : green > 255 ? 255 : green;
    blue = blue < 0 ? 0 : blue > 255 ? 255 : blue;

    return "#" +
      ("0" + parseInt(red, 10).toString(16)).slice(-2) +
      ("0" + parseInt(green, 10).toString(16)).slice(-2) +
      ("0" + parseInt(blue, 10).toString(16)).slice(-2);
  }

  //Capture and publish the information stream
  socket.on(INFOTAG, function(msg, cb) {
    document.getElementById("infoBox").innerHTML = msg;
    if (cb)
      cb();
  });

  // Capture and publish the telemetry stream and create the global variable telemetry
  socket.on(TELEMETRYTAG, function(msg, cb) {
    // console.log(msg);
    updatePumpStatus(msg);
    updateLightsStatus(msg);
    var elem = document.getElementById("telemetryRaw");
    elem.innerHTML = "";
    for (name in msg) {
      elem.innerHTML = elem.innerHTML + name + ':' + msg[name] + " | ";

    }
    if (cb)
      cb();
  });


  socket.on("timeStarted", function(msg, cb) {
    time = Number(msg);
    var secondsInADay = 60 * 60 * 1000 * 24,
      secondsInAHour = 60 * 60 * 1000;

    days = Math.floor(time / (secondsInADay));
    time = time - days * secondsInADay;
    hours = Math.floor(time / 3600)
    time = time - hours * 3600;
    mins = Math.floor(time / 60);
    secs = time - mins * 60;

    var idEl = document.getElementById("countup1");
    idEl.getElementsByClassName('days')[0].innerHTML = days;
    idEl.getElementsByClassName('hours')[0].innerHTML = hours;
    idEl.getElementsByClassName('minutes')[0].innerHTML = mins;
    idEl.getElementsByClassName('seconds')[0].innerHTML = secs;

  });

  //Capture and publish the pump status
  function updatePumpStatus(telemetry) {
    var x = document.getElementById("pump");
    if (telemetry.pumpON) {
      //document.getElementById("pump-text").innerHTML = "ON";
      document.getElementById("pump").setAttribute("style", "color: RoyalBlue;");
      document.getElementById("pump").setAttribute("class", "fas fa-sync-alt fa-spin");

    } else {
      //  document.getElementById("pump-text").innerHTML = "OFF";
      document.getElementById("pump").setAttribute("style", "color: LightGray");
      document.getElementById("pump").setAttribute("class", "fas fa-sync-alt");

    }
  }

  //Capture and publish the light RGB color
  function updateLightsStatus(telemetry) {
    // console.log(telemetry['lightGrowthON']);
    if (telemetry['lightGrowthON']) {
      document.getElementById("lightGrowth").style.background = R_G_BtoHEX(220, 80, 220);
      document.getElementById("lightIconGrowth").style.color = R_G_BtoHEX(0.6 * 220, 0.6 * 80, 0.6 * 220);
    } else {
      document.getElementById("lightGrowth").style.background = R_G_BtoHEX(125, 125, 125);
      document.getElementById("lightIconGrowth").style.color = R_G_BtoHEX(0.6 * 125, 0.6 * 125, 0.6 * 125);

    }
    if (telemetry['lightBloomON']) {
      document.getElementById("lightBloom").style.background = R_G_BtoHEX(200, 240, 255);
      document.getElementById("lightIconBloom").style.color = R_G_BtoHEX(0.6 * 200, 0.6 * 240, 0.6 * 255);

    } else {
      document.getElementById("lightBloom").style.background = R_G_BtoHEX(125, 125, 125);
      document.getElementById("lightIconBloom").style.color = R_G_BtoHEX(0.6 * 125, 0.6 * 125, 0.6 * 125);

    }

  }



  function updateProgram() {
    try {
      var currentProgram = JSON.parse('{{ currentProgram | tojson | safe}}');
    } catch (err) {
      console.log(err.message)
    }
    document.getElementById("progID").innerHTML = currentProgram.progID;
    document.getElementById("progName").innerHTML = currentProgram.progName;
    document.getElementById("progDescription").innerHTML = currentProgram.progDescription;
  }
</script>
{% endblock scr %}