{% extends "base-standard.j2.html" %}

{% block content %}

<br>
<div class="container shadow-lg p-3 mb-5 border rounded">
  <div class="row">
    <div class="col-12 text-center">
      <h4>title</h4>
    </div>

  </div>
  <div class="row border">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      <div class="bg-indigo text-dark">One of three columns</div>
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
    <div class="col-4">
      One of three columns
    </div>
  </div>
</div>









{% endblock %}